/* ***********
    页面样式表
   *********** */

/* ===========
    基本默认值
   =========== */
html{
    font-size:62.5%;
    color:#222;
}
ul{
    margin:0 !important;
    padding:0;
}
li{
    list-style:none;
}
/* ===========
   工具样式
   =========== */
.center-block{
    display:block;
    margin:0 auto;
}
.pull-right{
    float:right !important;
}
.pull-left{
    float:left !important;
}
.text-right{
    text-align:right !important;
}
.text-left{
    text-align:left !important;
}
.text-center{
    text-align:center ! important;
}
.hide{
    display:none !important;
}
.show{
    display: block !important;
}
.text-hide{
    font:0/0 a;
    color:transparent;
    background:transparent;
    box-shadow:none;
    border:0;
}
.clearfix:before,
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
.clearfix{
    zoom: 1;
}
/* ===========
    自定义样式
   =========== */
body{
    font-size:1.2rem;
    background-color: #f7f7f7;
    line-height:1.5;
}
a{
    text-decoration:none;
}
/*a:hover,a:active{*/
    /*text-decoration:underline;*/
/*}*/
header{
    width:100%;

}
header .top{
    line-height:3rem;
    padding:0 1.5rem;
    color:#fff;
    background:#555;
    border-bottom:1px solid #ecc000;

}
header .top span{
    float:left;
}
header .top ul{
    text-align:right;
    /*margin:0;*/
}
header .top ul li{
    display:inline-block;
}
header .top ul li+li{
    border-left:1px solid #999;
    margin-left:-3px;
}
header .top ul li a{
    color:#fff;
    padding:0 1.5rem;
}

@media only screen and (max-width: 800px){
    header .top ul li a {
        padding: 0 1rem;

    }
}
@media only screen and (min-width: 481px) and (max-width: 799px){
    header .top ul li a {
        padding: 0 0.7rem;

    }
    header .top span{
        font-size:1rem;
        display:none;
    }
}
@media only screen and  (max-width:480px){
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4),
    header .top span{
        display:none;
    }
}
header .main{
    line-height:6rem;
    border-bottom:1px solid #7C7364;

}
header .main a{
    display: inline-block;

}
header .main a img{
    margin-left:4rem;
    /*display:inline-block;*/
    vertical-align: middle;

}
header .main ul{
    /*margin:0;*/
    float:right;
}

header .main ul li {
    display: inline-block;
    padding:0 1.2rem;
}
header .main ul a:hover{
    background:coral;
}
header .main ul li a{
    display:inline-block;
    font-size:1.3rem;
    font-weight:bold;
    border-radius: 5px;
    vertical-align: middle;
    display: inline;
    padding: 5px;
    color:#7C7364;
}

@media only screen and (max-width: 800px){

}
@media only screen and (min-width: 481px) and (max-width: 800px){
    header .main a
    {
        display:block;
        text-align:center;
    }
    header .main ul{
        width:100%;
        margin:0 auto;
        text-align:center;
    }
}
@media only screen and (max-width: 480px){
    header .main a
    {
        display:block;
        text-align:center;
    }
    header .main ul li{
        padding:0 0.2rem;
    }
    header .main a img{
        margin-left:0rem;
    }
    header .main ul{
        width:100%;
        margin:0 auto;
    }

}
@media only screen and (max-width: 360px){
    header .main ul li:nth-child(4)
    {
        display:none;
    }
    header .main ul{
        width:90%;
        margin:0 auto;
    }
}
.contanier{
    width:100%;
}
.container .transction .transction-content{
    line-height:60px;
    color:#fff;
    background-color:#7C7364;
}
.container .transction .transction-content .trans-data{

    display:inline-block;
    margin-left:1rem;
}
.container .transction .transction-content .trans-data:first-child{
    margin-left:3rem;
}
.container .transction .transction-content .trans-data .trans-money{
    background: #fff;
    text-align:center;
    padding:8px;
    color:#000;
    border-radius:5px;
}
.container .transction .transction-content .trans-data:last-child{
    float:right;
}
.trans-report{
    color:#fff;
}
@media only screen and (max-width: 800px){
    .container .transction .transction-content .trans-data{
        display:block;
        text-align:center;
        margin-left:0rem;
    }
    .container .transction .transction-content .trans-data:first-child{
        margin-left:0rem;
    }
    .container .transction .transction-content .trans-data:last-child{
        float:none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 799px){

}
@media only screen and (max-width: 480px){
    .container .transction .transction-content .trans-data{
        display:block;
        text-align:center;
        margin-left:0rem;
    }
    .container .transction .transction-content .trans-data:first-child{
        margin-left:0rem;
    }
    .container .transction .transction-content .trans-data:last-child{
        float:none;
    }
}

/* ......... ad  广告...... */
/* .ad{
    width:100%;
    height:500px;
    overflow: hidden;
}
.ad-content{
    width:9999px;
    height:500px;
}
.ad-content .item{
    width:1366px;
    height:500px;
    float:left;
    margin:0;
    padding:0;
    margin-left:-5px;
}
.ad-content .item img{
    width:100%;
    height:100%;

} */


.feature {
    width: 90%;
    margin: 2rem auto;
    font-size: 0;
}

.feature .item {
    display: inline-block;
    width: calc(33.33333% - 3rem);
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.feature .item + .item {
    margin-left: 1.5rem;
}

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em) {

    .feature .item h3,
    .feature .item p {
        display: block;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }

    .feature .item p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 480px) {

    .feature {
        width: 96%;
        margin: 1rem auto;
    }

    .feature .item {
        display: block;
        width: auto;
    }

    .feature .item + .item {
        margin: 1rem 0 0;
    }
}
/* notice 样式*/

.notice{
    width:90%;
    margin:1rem auto;
    font-size:1rem;
    border:1px solid #ddd;
}
.notice .notice-content{

    padding:.3rem ;
    font-size:0.9rem;
    background: #fff;

}
.notice .notice-content > span{
    display:inline-block;
    margin-left:1rem;
    font-weight:bold;
    vertical-align: middle;
}
.notice .notice-content a.content{
    display:inline-block;
    width:60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;/* 规定文本内容不换行*/vertical-align: middle;
}
.notice .notice-content a span{
    padding:1rem;
}
.notice .notice-content .more{
    float:right;
    margin-right:3rem;
    color:#7C7364;
}
.notice .notice-content .more:hover{
    color:#ff0000;
    transition:all 1s;
}

/*product 样式*/
.product {
    width:90%;
    margin:1rem auto;
    font-size:1.4rem;
    border:1px solid #ddd;
    background:#f5f9fa;
}
.product h2{
    float:left;
    text-align:center;
    width:20%;
    display: inline-block;
    vertical-align: middle;
    margin-top:3rem;
    font-size:1.7rem;
    color: #635c51;
}
.product h2 em{
    display: block;
    font-weight:normal;
    font-size:1.6rem;
    margin-top:1rem;
}
.product h2 em:first-child{
    margin-top:4rem;
}
.product-content{
    float:right;
    width:79.5%;
    background: #fff;
}
.product-content .item{
    
}
.product-content .item + .item{
    border-top:1px solid #eee;
}
.product-content .item h3{
    float: left;
    width:25%;
    text-align:center;
    font-weight:normal;
    font-size:1.4rem;
    margin:1.5rem 0;
}
.product-content .item h3 em{
    color:#8b999d;
    margin-right:0.5rem;
    font-style: normal;
    font-size:2rem;
}
.product-content .item .info {
    float: left;
    width:60%;
    font-size:1.2rem;
    border-left:1px solid #eee;
    border-right:1px solid #eee;

}
.product-content .item .info p{
    float: left;

    text-align:center;
    width:45%;
    margin:2.4rem 0;

}
.product-content .item .info p:last-child{
    width:55%;

}
.product-content .buy{
    float: right;
    padding:1rem;
    width:10%;

}
.product-content .buy a{
    display:block;
    text-align:center;
    margin:1rem auto;
    width:90%;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
    padding:0.3rem 0;

}
.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    background-color: #ffc468;
}

.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}
@media only screen and (min-width: 480px) and  (max-width: 800px){
    .product h2{
        float:none;
        width:100%;

    }
    .product h2 em{
        display:inline;
        font-size:1.2rem;
    }
    .product-content{
        float:none;
        width:100%;
    }
    .product-content  .buy{
        padding:0.6rem;
        margin-top:0.8rem;
        margin-right:0.3rem;
    }
}
@media only screen and (max-width: 480px){
   .product h2{
       float:none;
       width:100%;
   }
    .product h2 em{
        display:inline;
        font-size:1.2rem;
    }
    .product h2 em:first-child:before {
        content: " ";
        display: table;
    }
    .product-content{
        float: none;
        width:100%;
    }
    .product-content .item .info{
        border:none;
    }
    .product .product-content .item .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .item .buy a {
        margin-top: 0;
        max-width: 26rem;
    }
}
/*footer*/
.footer{

    background-color: #999;

}
.footer .brand{
    display:inline-block;
    width:25%;
    height:110px;
    background: url("../img/logo@1x.png") no-repeat center right;
    background-size: 150px 35px;

}
.footer-content{
    display:inline-block;
    width:74%;
}
.footer ul{
    display:inline-block;
    margin-left:1rem;
    padding:3rem;
}
.footer ul li{
    line-height:2rem;
}
.footer ul:first-child{
    padding-left:8rem;
}
.footer ul li a{
    color:#fff;
    font-size:1.5rem;
    font-weight:400;
}
@media only screen and (max-width: 480px){
    .footer .brand{
        display:none;
    }
    .footer-content{
        width:100%;
        text-align: center;
    }
    .footer ul{
        padding:1rem 0.3rem;
        margin:2rem;
    }
    .footer ul li a{
        font-size:1.2rem;
    }
    .footer ul:first-child{
        padding-left:1rem;
    }
}
@media only screen and (min-width: 480px) and (max-width: 800px){
    .footer .brand{
        display:none;
    }
    .footer ul{
        padding:1rem 1rem;
        /*margin:1rem;*/
    }
    .footer-content{
        width:100%;
        text-align: center;
    }
    .footer ul:first-child{
        padding-left:1rem;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1024px){
    .footer ul{
        padding:1rem 2rem;
        /*margin:1rem;*/
    }
    .footer ul:first-child{
        padding-left:3rem;
    }
    
}
@media only screen and (min-width: 1025px){
    .footer .brand{
        width:20%
    }
    .footer-content{
        text-align: center;
        margin-left:-1rem;
    }
}
/*footer*/
footer{
    background: #c0c0c0;
    margin:0;
    padding:0;
}
footer p{
    color:#555;
    text-align:center;
}
footer ul {
    text-align: center;
    padding-top:4rem ;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
    padding:2rem 0;
}
